<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hikeservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hikeservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HikeService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HikeService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="hikeservicestorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=http;AccountName=hikeservicestorage;AccountKey=lKnjneDeWv4sn/UHE3fV3Kz1cZng6/bH9jzNLelc7tmOVqh0ZjKLHdcY1Qazp7Z8yUZfVt8kcHvo3UabgUwduQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\hikeservicestorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=http;AccountName=hikeservicestorage;AccountKey=lKnjneDeWv4sn/UHE3fV3Kz1cZng6/bH9jzNLelc7tmOVqh0ZjKLHdcY1Qazp7Z8yUZfVt8kcHvo3UabgUwduQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="azurestorageweathercache" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\azurestorageweathercache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="azurestoragehikecache" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\azurestoragehikecache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="azurestoragetripcache" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\azurestoragetripcache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="azurestoragemapcache" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\azurestoragemapcache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="redisweathercache" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="weathercache.redis.cache.windows.net,abortConnect=false,ssl=true,password=QgUdR+HdRUPqJa8fe4p9D0DsAjYabZPjkZZFBSzyaMs=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\redisweathercache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="weathercache.redis.cache.windows.net,abortConnect=false,ssl=true,password=QgUdR+HdRUPqJa8fe4p9D0DsAjYabZPjkZZFBSzyaMs=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="redishikecache" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="hikecache.redis.cache.windows.net,abortConnect=false,ssl=true,password=8s0gBPaf47HfUFJfxxMlI56u0UkoS+d75ONlust8vjI=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\redishikecache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="hikecache.redis.cache.windows.net,abortConnect=false,ssl=true,password=8s0gBPaf47HfUFJfxxMlI56u0UkoS+d75ONlust8vjI=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="redistripcache" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="tripcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=zk0Egmz3mnligDEDK4RpGvPzATiIYnpoyjyr+XKmmnk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\redistripcache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="tripcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=zk0Egmz3mnligDEDK4RpGvPzATiIYnpoyjyr+XKmmnk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="redismapcache" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\redismapcache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hikeservicestorage-Web.config Connection String" />
  </ItemGroup>
</Project>