<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hikeservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hikeservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HikeService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HikeService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="hikeservicestorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=http;AccountName=hikeservicestorage;AccountKey=lKnjneDeWv4sn/UHE3fV3Kz1cZng6/bH9jzNLelc7tmOVqh0ZjKLHdcY1Qazp7Z8yUZfVt8kcHvo3UabgUwduQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\hikeservicestorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=http;AccountName=hikeservicestorage;AccountKey=lKnjneDeWv4sn/UHE3fV3Kz1cZng6/bH9jzNLelc7tmOVqh0ZjKLHdcY1Qazp7Z8yUZfVt8kcHvo3UabgUwduQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="weathercache" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="weathercache.redis.cache.windows.net,abortConnect=false,ssl=true,password=QgUdR+HdRUPqJa8fe4p9D0DsAjYabZPjkZZFBSzyaMs=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\weathercache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="weathercache.redis.cache.windows.net,abortConnect=false,ssl=true,password=QgUdR+HdRUPqJa8fe4p9D0DsAjYabZPjkZZFBSzyaMs=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="hikecache" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="hikecache.redis.cache.windows.net,abortConnect=false,ssl=true,password=8s0gBPaf47HfUFJfxxMlI56u0UkoS+d75ONlust8vjI=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\hikecache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="hikecache.redis.cache.windows.net,abortConnect=false,ssl=true,password=8s0gBPaf47HfUFJfxxMlI56u0UkoS+d75ONlust8vjI=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="tripcache" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="tripcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=zk0Egmz3mnligDEDK4RpGvPzATiIYnpoyjyr+XKmmnk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\tripcache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="tripcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=zk0Egmz3mnligDEDK4RpGvPzATiIYnpoyjyr+XKmmnk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="mapcache" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\mapcache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mapcache.redis.cache.windows.net,abortConnect=false,ssl=true,password=fN0CLEUzbC7s0zvoSD0jh4ifm0hVTrEXTSpz/jGb9x8=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hikecache-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hikeservicestorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mapcache-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tripcache-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)weathercache-Web.config Connection String" />
  </ItemGroup>
</Project>