@Scripts.Render("~/bundles/myBundle")
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.message</h2>

<div class="jumbotron">
    <h1>HikeAmper</h1>
    <p class="lead">This application allows you to aggregate information about all interested hikes to help you choose a hike.</p>
</div>


<div class="row">
    @using (Html.BeginForm("Add", "Hike"))
    {
        <div class="col-md-4">
            <h2>Add a hike</h2>
            <p>
                Find a hike from WTA and add it to the list of your hikes.
            </p>
            <input type="text" name="hikeUrl"/>
            <input type="submit" class="btn btn-primary" name="Go" value="Go"/>
        </div>
    }
</div>

<input type="hidden" id="userName" value="@HttpContext.Current.User.Identity.Name">


    <h2>My Hike Details</h2>
    
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Location Name
            </th>
            <th>
                Round tripDetails<br />
                (In miles)
            </th>
            <th>
                Elevation<br/>
                (In feet)
            </th>
            @for (int i=0; i<4; i++)
            {
                <th>
                    Weather<br />                    
                </th>
            }
            <th>
                Latest Trip Report<br />
            </th>
            <th>
                Distance<br/>
                (In miles)
            </th>
            <th>
                Pass Information
            </th>
        </tr>

        <tbody data-bind="foreach: hikeSummary">
            <tr>
                <td>
                    HikeAndTripDetails.HikeDetails.Name
                </td>
                <td>
                    HikeAndTripDetails.HikeDetails.LocationName
                </td>
                <td>
                    <b>HikeAndTripDetails.HikeDetails.RoundTripLength</b>
                </td>
                <td>
                    Gain:
                    <b>
                        HikeAndTripDetails.HikeDetails.ElevationDetails.Gain
                    </b> <br /><br />
                    Highest Point:
                    HikeAndTripDetails.HikeDetails.ElevationDetails.HighestPoint<br />
                </td>
               
                <td>
                   
                    HikeAndTripDetails.TripDetails.TypeOfHike <br />
                    HikeAndTripDetails.TripDetails.TrailCondition <br />
                    HikeAndTripDetails.TripDetails.SnowCondition <br />
                    HikeAndTripDetails.TripDetails.RoadCondition <br />
                    HikeAndTripDetails.TripDetails.BugsCondition <br /><br />
                    
                </td>
                <td>
                    MapDetails.Distance<br /><br />
                    <b>MapDetails.Duration</b><br />
                </td>
                <td>
                    HikeAndTripDetails.HikeDetails.PassRequired
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Hike"))
                    {
                        <input type="hidden" name="hikeUrl" value="HikeAndTripDetails.HikeDetails.Url" />
                        <input type="image" src="~/Images/trash.png" name="Delete" value="Delete" />
                    }
                </td>
            </tr>
            </tbody>

</table>


    <h2>No hikes found in your account.</h2>
    <p>
        Please add hikes before trying to view details about hikes.
    </p>
