@Scripts.Render("~/bundles/myBundle")

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.message</h2>

<div class="jumbotron">
    <h1>HikeAmper</h1>
    <p class="lead">This application allows you to aggregate information about all interested hikes to help you choose a hike.</p>
</div>

<input type="hidden" id="user" value="@HttpContext.Current.User.Identity.Name">

<!-- Enter Zip code -->
<div class="row">
    <div class="col-md-4">
        <!-- ko ifnot: ZipCodeAvailable -->
        <h2>Enter Zip Code</h2>
        <!-- /ko -->
        <!-- ko if: ZipCodeAvailable -->
        <h2>Your Zip Code</h2>
        <!-- /ko -->
        <p>
            This zip code will be used to find the distance to Trailhead.
        </p>
        <!-- ko ifnot: ZipCodeAvailable -->
        <input type="text" data-bind="value: ZipCode" />
        <input type="button" class="btn btn-primary" onclick="AddZipCode()" value="Submit" />
        <!-- /ko -->
        <!-- ko if: ZipCodeAvailable -->
        <input type="text" id="zipCode" data-bind="value: ZipCode" />
        <input type="button" class="btn-link" onclick="EditZipCode()" value="Edit" />
        <!-- /ko -->
        <br />
        <div style="display: none;" data-bind="visible: true">
            <!-- ko if: InvalidZipcode -->
            <span style="color: red">Invalid Zipcode!</span>
            <!-- /ko -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a hike</h2>
        <p>
            Find a hike from WTA and add it to the list of your hikes by entering the URL.
        </p>
        <input type="text" data-bind="value: HikeUrl" />
        <input type="button" class="btn btn-primary" onclick="AddHike()" value="Submit" />
        <br />
        <div style="display: none;" data-bind="visible: true">
            <!-- ko if: HikeExists -->
            <span style="color: red">Hike is already present!</span>
            <!-- /ko -->
        </div>
    </div>
</div>

<div style="display: none;" data-bind="visible: true">
    <!-- ko if: summary().length > 0 -->
    <h2>My Hike Details</h2>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Location Name
            </th>
            <th>
                Round tripDetails<br />
                (In miles)
            </th>
            <th>
                Elevation<br />
                (In feet)
            </th>
            @for (int i = 0; i < 4; i++)
            {
                <th>
                    Weather<br />
                </th>
            }
            <th>
                Latest Trip Report<br />
            </th>
            <th>
                Distance<br />
                (In miles)
            </th>
            <th>
                Pass Information
            </th>
        </tr>

        <tbody data-bind="foreach: summary">
            <tr>
                <td>
                    <a data-bind="attr: { href: HikeDetails.Url, target: '_blank' }">
                        <span data-bind="text: HikeDetails.Name"></span>
                    </a>
                </td>
                <td data-bind="text: HikeDetails.LocationName" />
                <td data-bind="text: HikeDetails.RoundTripLength" />
                <td>
                    Gain:
                    <b data-bind="text: HikeDetails.ElevationDetails.Gain"></b>
                    <br /><br />
                    Highest Point:
                    <b data-bind="text: HikeDetails.ElevationDetails.HighestPoint"></b>
                </td>
                <!-- ko foreach: WeatherDetails -->
                <td>
                    <b data-bind="text: Date.Weekday_Short() + ' ' + Date.Monthname_Short() + ' ' + Date.Day()"></b>
                    <br /><br />
                    <b data-bind="text: 'Rain -' + Pop() + '%'"></b>
                    <br /><br />
                    <table class="table-condensed">
                        <tr>
                            <th>High</th>
                            <th>Low</th>
                        </tr>
                        <tr>
                            <td data-bind="text: High.Celsius() + '°C'"></td>
                            <td data-bind="text: Low.Celsius() + '°C'"></td>
                        </tr>
                    </table>
                </td>
                <!-- /ko -->
                <td>
                    <a data-bind="attr: { href: TripDetails.Url, target: '_blank' }">
                        <span data-bind="text: TripDetails.Date"></span>
                    </a><br /><br />
                    <span data-bind="text: TripDetails.TypeOfHike"></span><br />
                    <span data-bind="text: TripDetails.TrailCondition"></span><br />
                    <span data-bind="text: TripDetails.SnowCondition"></span><br />
                    <span data-bind="text: TripDetails.RoadCondition"></span><br />
                    <span data-bind="text: TripDetails.BugsCondition"></span><br />
                    <a data-bind="attr: { href: HikeDetails.TripReportsUrl, target: '_blank' }">
                        Other Reports
                    </a>
                </td>
                <td>
                    <span data-bind="text: MapDetails.Distance"></span>
                    <br /><br />
                    <b data-bind="text: MapDetails.Duration"></b>
                </td>
                <td data-bind="text: HikeDetails.PassRequired"></td>
                <td>
                    <input type="image" src="~/Images/trash.png" data-bind="click: DeleteHike.bind()" />
                </td>
            </tr>
    </table>
    <!-- /ko -->
    <!-- ko ifnot: summary().length > 0 -->
    <h2>No hikes found in your account.</h2>
    <p>
        Please add hikes before trying to view details about hikes.
    </p>
    <!-- /ko -->
</div>